.checkboxContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-spacing-8);
  cursor: pointer;

  color: var(--general-color-text-darkest);

  /* Body/Medium */
  font-family: var(--typography-body-font-family);
  font-size: var(--typography-font-size-desktop-body-medium);
  font-style: normal;
  font-weight: var(--typography-font-weight-body);
  line-height: 150%; /* 24px */

  &:has(input:disabled) {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.checkbox {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 1px solid var(--component-checkbox-radio-color-brand-fill-enabled-border);
  background: var(--component-checkbox-radio-color-brand-fill-enabled-icon);

  appearance: none;

  margin: 0;

  color: currentColor;

  border-radius: 0;
  display: grid;
  place-content: center;

  &:hover {
    border: 1px solid var(--component-checkbox-radio-color-brand-fill-hover-unselected-border);
  }

  &:focus {
    outline: 1px solid var(--component-checkbox-radio-color-brand-fill-focus-border);
    outline-offset: 1px;
    border-color: var(--component-checkbox-radio-color-brand-fill-focus-border);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &::before {
    content: '';
    width: 14px;
    height: 12px;
    transform: scale(0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.45455 9.49254L1.11364 5.73134L0 6.98507L4.45455 12L14 1.25373L12.8864 0L4.45455 9.49254Z' fill='white'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:checked {
    &::before {
      transform: scale(1);
    }

    background: var(--component-checkbox-radio-color-brand-fill-hover-selected-bg);
    border-color: var(--component-checkbox-radio-color-brand-fill-hover-selected-bg);
  }
}

.checkboxLabel {
  color: var(--general-color-text-darkest);

  /* Body/Medium */
  font-family: var(--typography-body-font-family);
  font-size: var(--typography-font-size-desktop-body-medium);
  font-style: normal;
  font-weight: var(--typography-font-weight-body);
  line-height: 150%; /* 24px */
}
