.image--1-1 {
  aspect-ratio: 1/1;
}
.image--3-2 {
  aspect-ratio: 3/2;
}
.image--16-9 {
  aspect-ratio: 16/9;
}
.image--9-16 {
  aspect-ratio: 9/16;
}
.image--2-1 {
  aspect-ratio: 2/1;
}
.image--4-3 {
  aspect-ratio: 4/3;
}
