@use '@/assets/_mixins.scss' as mixins;

.dateFieldContainer {
  position: relative;
  width: 100%;
}

.hiddenInputField {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.inputField {
  width: 100%;
  height: 48px;
  padding: var(--spacing-spacing-4) var(--spacing-spacing-12);
  align-self: stretch;
  border-radius: var(--radius-radius-4);
  border: 2px solid var(--component-form-field-color-default-border);
  background: var(--component-search-field-default-bg);

  @include mixins.text-style($textSize: 'small', $textColor: var(--general-color-text-dark));

  &::placeholder {
    color: var(--general-color-text-mid);
  }
}

.inputWithCalendarIcon {
  padding-right: calc(var(--spacing-spacing-12) + 24px + var(--spacing-spacing-8));
}

.dateFieldWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.calendarIconSvg {
  margin-left: 0;
}

.calendarIcon {
  position: absolute;
  right: var(--spacing-spacing-12);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  pointer-events: auto;
  color: var(--general-color-text-dark);

  &:hover {
    color: var(--general-color-border-brand-2);
  }

  &:focus {
    outline: 2px solid var(--general-color-border-brand-2);
    outline-offset: 2px;
    border-radius: 2px;
  }

  svg {
    display: block;
  }
}

.errorMessage {
  @include mixins.text-style($textSize: 'small', $textColor: var(--color-system-error-500));
}
