OPTIMIZELY_GRAPH_GATEWAY=https://cg.optimizely.com/content/v2
OPTIMIZELY_CMS_URL=https://app-hodi01saas6c4mbt002.cms.optimizely.com/
OPTIMIZELY_GRAPH_HOST=https://opti-x.vercel.app/

OPTIMIZELY_CMS_CLIENT_ID=---client-id---
OPTIMIZELY_CMS_CLIENT_SECRET=---client-secret---
OPTIMIZELY_GRAPH_SINGLE_KEY=---graph-single-key---

GLOBAL_AGENT_HTTP_PROXY=http://wwwgate.ti.com:80

NEXT_PUBLIC_ALLOW_BRAND_THEME_SWITCHING=true

FIGMA_PERSONAL_ACCESS_TOKEN=---figma-personal-access-token---
