# @ticom:registry="https://artifactory.itg.ti.com/artifactory/api/npm/npm-dc-release-local/"
# registry="https://artifactory.itg.ti.com/artifactory/api/npm/npm-dc-release/"

registry="https://registry.npmjs.org/"
verify-deps-before-run=false
