/* TAILWIND_VARIANTS slot: base */
.base {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}


.base::before {
    content: "";
    position: absolute;
    inset-block: 0;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    background: var(--component-section-color-bg);
    z-index: -10;
}