/* TAILWIND_VARIANTS slot: base */
.base {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--spacing-layout-gutter);
}

.base::before {
  content: "";
  position: absolute;
  inset-block: 0;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  background: var(--component-section-color-bg);
  z-index: -10;
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

.centered75 {
  max-width: var(--layout-container-center70-max-width);
  margin-inline: auto;
}

.paddingTop {
  padding-top: var(--component-section-padding-y);
}

.noPaddingTop {
  padding-top: 0;
}

.paddingBottom {
  padding-bottom: var(--component-section-padding-y);
}

.noPaddingBottom {
  padding-bottom: 0;
}

.paddingSides {
  padding-left: var(--component-section-padding-x);
  padding-right: var(--component-section-padding-x);
}

.eyebrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-micro);
  padding-bottom: var(--spacing-general-eyebrow-margin-bottom);
}

.eyebrowText {
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-general-title-margin-bottom);
  width: 100%;
  max-width: var(--typography-copy-max-Width);
  padding-bottom: var(--spacing-general-copy-margin-bottom);
  word-break: break-word;
}

.headline {
  width: 100%;
}

.subheadline {
  width: 100%;
}

.description {
}
