/* TAILWIND_VARIANTS slot: base */
.base {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: var(--component-accordion-item-border-width);
  border-color: var(--component-accordion-item-default-border);
  border-radius: var(--border-radius-accordion);
  overflow: hidden;
}

.base:hover {
  border-color: var(--component-accordion-item-hover-border);
  background: var(--component-accordion-item-hover-surface);
  outline: var(--component-accordion-item-border-width-hover) solid
    var(--component-accordion-item-hover-border);
  outline-offset: calc(-1 * var(--component-accordion-item-border-width-hover));
}

.base:has(:focus-visible) {
  outline: 4px solid var(--componentTheme---bg-interaction-focus);
  outline-offset: 1px;
}

.baseOpen {
  border-color: var(--component-accordion-item-active-border_);
}

@media (max-width: 47.9375rem) {
  .hiddenOnMobile {
    display: none;
  }
}

/* TAILWIND_VARIANTS slot: buttonWrapper */
.buttonWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--component-accordion-item-padding-item-y)
    var(--component-accordion-item-padding-item-x);
  border: none;
  background: var(--component-accordion-item-default-surface);
  transition: none;
  scroll-margin-top: 123px;
}

.buttonWrapper:hover {
  text-decoration: underline;
  background: var(--component-accordion-item-hover-surface);
}

.buttonWrapper:focus-visible {
  outline: none;
}

.baseOpen .buttonWrapper {
  background: var(--component-accordion-item-active-surface);
}

/* TAILWIND_VARIANTS slot: contentContainer */
.contentContainer {
  display: grid;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  background: var(--component-accordion-item-default-surface);
  grid-template-rows: 0fr;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  visibility: hidden;
}

.contentContainerOpen {
  grid-template-rows: 1fr;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  user-select: auto;
  background: var(--component-accordion-item-active-surface);
}

/* TAILWIND_VARIANTS slot: contentContainerInner */
.contentContainerInner {
  overflow: hidden;
  min-height: 0;
}

/* TAILWIND_VARIANTS slot: iconWrapper */
.iconWrapper {
  margin: 0 var(--spacing-spacing-4);
  color: var(--component-accordion-item-default-icon);
  transition: transform 300ms ease-in-out;
}

.base:hover .iconWrapper {
  color: var(--component-accordion-item-hover-icon);
}

.baseOpen .iconWrapper {
  transform: rotate(180deg);
  color: var(--component-accordion-item-active-icon);
}

/* TAILWIND_VARIANTS slot: richTextWrapper */
.richTextWrapper {
  margin-bottom: 0;
  padding: 0 var(--component-accordion-item-padding-item-x)
    var(--component-accordion-item-padding-item-y);
  color: var(--component-accordion-item-active-body);
  font-family: var(--typography-body-font-family);
  font-size: var(--typography-body-medium-font-size);
  font-weight: var(--typography-font-weight-normal);
  line-height: normal;
  text-align: left;
}

/* TAILWIND_VARIANTS slot: headingText */
.headingText {
  color: var(--component-accordion-item-default-label);
  font-family: var(--typography-body-font-family);
  font-size: var(--typography-body-large-font-size);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-body-large-line-height);
  text-align: left;
}

.base:hover .headingText {
  color: var(--component-accordion-item-hover-label);
}

.baseOpen .headingText {
  color: var(--component-accordion-item-active-headline);
}
