.promoBlock {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  gap: 24px;
}

.smallFlex {
  flex: 1;
  min-width: 0;
}

.largeFlex {
  flex: 2;
  min-width: 0;
}
