/* @import "tailwindcss"; */
@layer reset, theme, base, components, utilities;
@import "./reset.css" layer(reset);
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@import "./themes";
@import "./tw-theme.css";

@theme {
  --color-text-default: var(--ti-text-color);
  --font-body: var(--font-roboto);
}

:root,
.theme-root {
  --color-text-default: var(--ti-text-color);

  --font-body: var(--font-roboto);

}

/* Placeholder values for testing */
@layer base {

  h1,
  .text-h1 {
    @apply text-h1 mb-12;
  }

  h2,
  .text-h2 {
    @apply text-h2 mb-8;
  }

  h3,
  .text-h3 {
    @apply text-h3 mb-4;
  }

  h4,
  .text-h4 {
    @apply text-h4 mb-3;
  }

  h5,
  .text-h5 {
    @apply text-h5 mb-3;
  }

  h6,
  .text-h6 {
    @apply text-h6 mb-3;
  }
}

/* @import "./tw-theme"; */